/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nibscbioinformatics/viralevo -profile test,<docker/singularity>
 */

params {
  config_profile_name = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'
  // Limit resources so that this can run on GitHub Actions
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h

  // Input data
  input = 'https://raw.githubusercontent.com/nibscbioinformatics/testdata/master/covid19/samples.tsv'
  fasta = 'https://raw.githubusercontent.com/nibscbioinformatics/testdata/master/covid19/refseq_NC_045512_covid19_wuhan.fasta'
  adapter = 'https://raw.githubusercontent.com/nibscbioinformatics/testdata/master/covid19/nexteraPE.fasta'
  primers = 'https://raw.githubusercontent.com/nibscbioinformatics/testdata/master/covid19/test_primers.bed'
}
