params {
  virus_reference {
    'SARS-CoV-2' {
        fasta = 'https://raw.githubusercontent.com/nibscbioinformatics/testdata/master/covid19/refseq_NC_045512_covid19_wuhan.fasta'
        gff   = 'https://raw.githubusercontent.com/nibscbioinformatics/testdata/master/covid19/GCF_009858895.2_ASM985889v3_genomic.gff'
        pyloref = 'https://raw.githubusercontent.com/nibscbioinformatics/testdata/master/covid19/hCoV-19_phylo-reference_samples.fa'
        rmodel = 'https://raw.githubusercontent.com/nibscbioinformatics/testdata/master/covid19/covid19_genome_model.RData'
    }
  }
}
